<div class="jumbotron">
  <%= form_tag questions_path %>
    <%= label_tag 'Your Question' %>
    <br>
    <%= text_field_tag :content, nil, class: "form-control"  %>
    <br>
    <%= label_tag :answer_1 %>
    <br>
    <%= text_field_tag :answer_1, nil, class: "form-control" %>
    <br>
    <%= label_tag :answer_2 %>
    <br>
    <%= text_field_tag :answer_2, nil, class: "form-control" %>
    <br>
    <%= submit_tag 'Submit', class:'btn btn-danger' %>
</div>
