<h1><span class="logo">Woodyoos & <strong>Rathers</strong></span></h1>

<div class="jumbotron">
  <div class="question">
  <%= @question.content %>
  <br>
  <br>
    <%= link_to @question.answers.first.content, question_path(@question, vote_1:true), remote: true, class: 'answer1 btn btn-danger btn-lg', method: 'patch' %> || <%= link_to @question.answers.last.content, question_path(@question, vote_2:true), remote: true, class: 'answer2 btn btn-danger btn-lg', method: 'patch' %>
  <br>
  <br>

  <span id='next-question'></span>
  </div>
</div>

<h3>Add a Comment</h3>
<% if user_signed_in? %>
  <%= form_for [@question, @comment], remote: true do |f| %>
    <%= f.label :content %>
    <%= f.text_field :content, class: 'form-control', id: 'comment-box' %>
    <br>
    <%= f.submit class:'comment-button btn btn-default btn-lg' %>
  <% end %>
<% else %>
  <p>You must be logged in to comment!</p>
<% end %>

<h3>Comments</h3>
<div class="comment">
  <% @question.comments.each do |comment| %>
    <%= render 'comments/comment', comment: comment %>
  <% end %>
</div>
