<h1><%= @question.content %></h1>

<h2><%= @question.answers.first.content %></h2><h3><%= @question.answers.first.percentage %>%</h3>
<h2><%= @question.answers.last.content %></h2><h3><%= @question.answers.last.percentage %>%</h3>
